*
{
    resize:both;
    margin:0px auto;
    
    
}
header
{
    display:flex;
    justify-content: center;
    align-content: center;
    background-color:#32bbcd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    margin:0px auto;

}
h1
{
    font-size:50px;
    color:white;

}
u
{
    color:#042661;

}
nav
{
    
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    display:flex;
    background-color:#32bbcd;
    height:30px;
    justify-content: space-evenly;

}

a
{
   
    text-decoration:none;
    color:white;
    align-self: flex-end;

}
a:hover
{
    background-color:#042661;
    padding:10px 0px;
    transition:0.8s;
    
    

}
button
{
    display:flex;
    background-color:#32bbcd;
    border: none;
    padding: 0px 10px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: flex-end;

}
button:hover
{
    background-color:#042661;
    padding:10px;
    transition:0.8s;
    
    
}
footer

{
    display:flex;
    align-content: flex-end;
    background-color:#042661;
    padding:50px 0px;
    margin:70px 0px 0px;
   
}
footer > p
{

    display:flex;
    color:white;
    font-size:20px;
    justify-content: right;
}
.yellow
{
    background-color:yellow;
}
.red
{
    background-color:red;
}
.cyan
{
    background-color: darkcyan;
}
    


#board
{
    background-color:darkblue;
    display:flex;
    justify-content: center;
    margin: 0px 480px
    
}
.box
{
   
    width:100px;
    height:100px;
    background-color:white;
    border-radius:50%;
    margin:10px;
    border:darkblue solid 3px;
}

.column-1 , .column-2 ,.column-3 ,.column-4 
{
    display:flex;
    flex-direction: column-reverse;
    

  
    
}
#players
{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    
    
}
#p1
{
    border:solid;
    border-radius: 30%;
    padding:20px;
    animation:blinkplayer1 2s infinite;
    
}
   
#p2
{
    border:solid;
    padding:20px;
    border-radius: 30%;
    animation:blinkplayer2 2s infinite;
    
   
}
@keyframes blinkplayer1
{
    0%{     color: #e6b800;    }
    50%{    color: transparent; }
    100%{   color: #e6b800;    }
}
@keyframes blinkplayer2
{
    0%{     color: darkred;    }
    50%{    color: transparent; }
    100%{   color: darkred;   }
}
.winCount
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: underline;

}
  
  










